Source: ros-indigo-safe-teleop-base
Section: misc
Priority: extra
Maintainer: Charles DuHadway (maintained by Benjamin Pitzer) <foo@foo.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-1.7-all-dev, ros-indigo-base-local-planner, ros-indigo-catkin, ros-indigo-costmap-2d, ros-indigo-roscpp
Homepage: http://ros.org/wiki/safe_teleop_base
Standards-Version: 3.9.2

Package: ros-indigo-safe-teleop-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-1.7-all-dev, ros-indigo-base-local-planner, ros-indigo-costmap-2d, ros-indigo-roscpp
Description: This package provides automatic collision avoidance and is intended to be used for safer teleoperation of a robot base.
