Source: ros-indigo-safe-teleop-pr2
Section: misc
Priority: extra
Maintainer: Charles DuHadway (maintained by Benjamin Pitzer) <foo@foo.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/safe_teleop_pr2
Standards-Version: 3.9.2

Package: ros-indigo-safe-teleop-pr2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-joy, ros-indigo-pr2-teleop, ros-indigo-safe-teleop-base
Description: Launch files for running safe_teleop_base on pr2
